%h1 Log in
= form_for @login, url: sessions_path do |f|
  = render partial: 'shared/errors', locals: { object: @login }
  %p
    = f.label :username
    %br/
    = f.text_field :username
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p= submit_tag t('login'), class: 'button button-default'