
= form_for @article do |f|
  = render partial: 'shared/errors', locals: { object: @article }
  .row
    = f.label :title
    = f.text_field :title
  .row
    = f.label :content
    = f.text_area :content
  .row
    =f.submit class: 'button button-default'
