!!! Strict
%html
  %head
    %title Page
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = csrf_meta_tags
  %body
    .container
      .row
        .left
          %h1
            Blog
            %small This is my blog. It's awesome.
        .right
          = render 'shared/navigation/head'

      .row{:role => "content"}
        = yield
        
    %footer
      .row
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4